

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

.screen {
  
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: #00ff00;
}




// .Card {
//   // width: 40px;
//   // height: 40px;
//   // border:1px solid black;
//   border-style: solid;
//   border-width: 3px;
//   border-color: #00ff00;
// }

.Square{
  width: 40px;
  height: 40px;
  // border:1px solid #00ff00;
  border-style: solid;
  border-width: 3px;
  border-color: #00ff00;
}

.click {
  border:3px solid pink  !important;
  // color: #00ff00 ;
  // background-color: black;

  // border-style: solid;
  // border-width: 3px;
}

.App {
  max-width: 1024px;
  margin: auto;
  padding: 25px;
  display: flex;
  // color: #00ff00 ;
  background-color: pink;
  // background-color: $myGreen;
  // border-style: solid;
  // border-width: 3px;

  .Peintures {
    // border-style: solid;
    // border-width: 3px;
    // border-color: #00ff00;
    margin: auto;
    // flex:1;

  }

  .Board {
    flex:2;
    // border-style: solid;
    // border-width: 3px;
    // border-color: #00ff00;
  }
}

.AUTRE {
  width: 40px;
  height: 40px;
  background-color: aqua;
}


.messagesBoard {
  // width: 40px;
  height: 200px;
  // border:1px solid #00ff00;
  border-style: solid;
  border-width: 3px;
  border-color: #00ff00;
}

// .game {
//   border-color: grey;
//   // margin: auto;
//   // align-items: center;
//     // display: flex;
//   // justify-content: center;
//   .game-board {
//     // height: 80px;
//     // height: 40px;
//     // margin: auto;
//     // align-items: center;
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // align-content: center;
//     .board-row {
//       display: flex;

//       .board-square {
//         color: #00ff00 ;
//         // background-color: black;

//         border-style: solid;
//         border-width: 3px;

//         // border:1px solid black;
//         height: 50px;
//         width: 50px;
//         // background-color: red;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // color:white;
//         font-size: 1.5em;
//       }
//     }
//   }
// }